<% if task.errors.any? %>
  <div id="errors-message">
  <% task.errors.full_messages.each do |message| %>
    <li><%= t(message) %></li>
  <% end %>
  </div>
<% end %>
<%= form_for task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :content %>
  <%= form.text_area :content %>
  <%= form.label :priority %>
  <%= form.select :priority, [t('high'), t('normal'), t('low')] %>
  <%= form.label :end_at %>
  <%= form.date_field :end_at, min: Date.today %>
  <%= form.submit t('submit') %>  
<% end %>