<h2 class="py-2 text-5xl"><%= t('tasks_index') %></h2>
<div class="flex py-2">
  <div id="search">
    <%= form_with model: tasks, url: searches_path, method: 'get' do |form| %>
      <%= form.search_field(:keyword) %>
      <%= submit_tag t(:search), :class => "p-2 mr-3 border-[1px] border-gray-400 hover:bg-rose-300" %>
    <% end %>
  </div>
  <div class="mr-3 border-[1px] border-rose-200 hover:bg-rose-300">
    <%= link_to t('add_task'), new_task_path, :class => "px-5 text-3xl" %>
  </div>
</div>
<table class="text-center text-sm mb-5">
  <thead>
    <tr>
      <td class="w-[150px] border-[1px] border-gray-400"><%= t('task_title') %></td>
      <td class="w-[380px] border-[1px] border-gray-400"><%= t('task_content') %></td>
      <td class="w-[100px] border-[1px] border-gray-400"><%= t('task_state') %></td>
      <td class="w-[100px] border-[1px] border-gray-400 hover:bg-rose-200">
        <%= link_to t('task_priority'), priorities_path, :class => "px-4" %>
      </td>
      <td class="w-[100px] border-[1px] border-gray-400 hover:bg-rose-200">
        <%= link_to t('task_created_at'), root_path, :class => "px-5" %>
      </td>
      <td class="w-[100px] border-[1px] border-gray-400 hover:bg-rose-200">
        <%= link_to t('end_at'), root_path(:time => "end_at"), :class => "px-5" %>
      </td>
      <td class="w-[100px] border-[1px] border-gray-400"><%= t('tag') %></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% if tasks.empty? %>
      <td>
        <span><%= t('no_content') %></span>
      </td>
    <% else %>
      <% tasks.each do |task| %>
        <tr id="task_line" class="flex-wrap border-[1px] border-b-gray-300">
          <td class="w-[150px] mx-auto p-3">
            <span>
              <%= link_to task.title, task_path(task), :class => "inline-block w-full hover:bg-rose-200 break-all" %>
            </span>
          </td>
          <td class="w-[400px] p-3 break-all">
            <p class="trix-content">
              <%= task.content %>
            </p>
          </td>
          <td class="px-2">
            <% if t(task.state) === t('done') %>
              <span class="p-[4px] bg-rose-200 rounded-xl">
                <%= t('done') %>
              </span>
            <% elsif t(task.state) === t('in_progress') %>
              <span class="p-[4px] bg-yellow-300 rounded-2xl">
                <%= t('in_progress') %>
              </span>
            <% else %>
              <span class="p-[4px]">
                <%= t(task.state) %>
              </span>
            <% end %>
            <% if task.state === 'to_be_started' %>
              <span class="block w-[80px] mx-auto mt-2">
                <%= link_to t('link_in_progress'), 
                    change_state_task_path(task), 
                    data: { turbo_method: :post }, 
                    :class => "block px-[5px] border-[1px] border-black rounded-2xl hover:bg-yellow-300" %>
              </span>
            <% elsif task.state === 'in_progress' %>
              <span class="block w-[80px] mx-auto mt-2">
                <%= link_to t('link_done'), 
                    change_state_task_path(task), 
                    data: { turbo_method: :post }, 
                    :class => "block px-[5px] border-[1px] border-black rounded-2xl hover:bg-rose-200" %>
              </span>
            <% end %>
          </td>
          <td class="px-2 py-5">
            <%= t(task.priority) %>
          </td>
          <td class="px-2 py-5">
            <span class="inline-block w-full text-sm">
              <%= task.created_at.strftime('%Y-%m-%d') %>
            </span>
          </td>
          <% if task.end_at != nil %>
            <td class="px-2 py-5">
              <span class="inline-block w-full text-sm">
                <%= task.end_at.strftime('%Y-%m-%d') %>
              </span>
            </td>
          <% else %>
            <td class="px-2 py-5">
              <span>
                <%= t('no_deadline') %>
              </span>
            </td>
          <% end %>
          <td class="px-2 py-5">
            <div class="">
              <%= link_to t('add'), new_task_tag_path(task) %></div>
              <% task.tags.each do |tag| %>
                <div class="inline-block p-[1px] mx-1 bg-red-100 rounded-xl">
                <%= link_to tag.title, task_tag_path(task, tag) %>
                <%= link_to 'x', 
                    task_tag_path(task, tag),
                    data: { turbo_method: :delete,
                            turbo_confirm: t('are_your_sure_to_delete?') 
                          },
                    :class => 'text-gray-500'
                %>
              </div>
            <% end %>
          </td>
          <td class="px-[31px] py-5">
            <%= link_to t('edit_task'), edit_task_path(task), :class => "block p-[5px] mb-3 border-[1px] border-black rounded-md hover:bg-rose-200" %>
            <%= link_to t('delete_task'), 
                task_path(task), 
                data: { turbo_method: :delete, 
                        turbo_confirm: t('are_your_sure_to_delete?'), 
                      }, 
                :class => "block p-[5px] border-[1px] border-gray-300 text-gray-300 rounded-md hover:border-gray-600 hover:text-gray-600" %>
          </td>
        </tr>
      <% end %>
      <div class="py-2">
        <%= paginate tasks %>
      </div>      
    <% end %>
  </tbody>
</table>