<h1><%= t('task_index') %></h1>
<%= link_to t('add_task'), new_task_path %>
<div id="search">
  <%= form_with model: tasks, url: searches_path, method: 'get' do |form| %>
    <%= form.search_field(:keyword) %>
    <%= submit_tag t(:search) %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <td><%= t('task_title') %></td>
      <td><%= t('task_content') %></td>
      <td><%= t('task_state') %></td>
      <td><%= link_to t('task_created_at'), root_path %></td>
      <td><%= link_to t('end_at'), root_path(:time => "end_at") %></td>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr id="task_line">
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.content %></td>
        <td data-controller="state" data-action="click->state#changeState" data-task-id="<%= task.id %>">
        <%= t(task.state) %>
        <% if task.state === 'to_be_started' %>
          <%= button_to t('button_in_progress'), change_state_task_path(task), method: 'post' %>
        <% elsif task.state === 'in_progress' %>
          <%= button_to t('button_done'), change_state_task_path(task), method: 'post' %>
        <% end %>
        </td>
        <td><%= task.created_at.strftime('%Y-%m-%d') %></td>
        <% if task.end_at != nil %>
        <td><%= task.end_at.strftime('%Y-%m-%d') %></td>
        <% else %>
        <td><%= t('no_deadline') %></td>
        <% end %>
        <td><%= link_to t('edit_task'), edit_task_path(task) %></td>
        <td><%= button_to t('delete_task'), task_path(task), method: 'delete', form: { data: { turbo_confirm: t('are_your_sure_to_delete?') } } %></td>
      </tr>
    <% end %>
  </tbody>
</table>