<h1><%= t('task_index') %></h1>
<%= link_to t('add_task'), new_task_path %>
<table>
  <thead>
    <tr>
      <td><%= t('task_title') %></td>
      <td><%= t('task_content') %></td>
      <td><%= link_to t('task_created_at'), root_path(:time => "created_at")  %></td>
      <td><%= link_to t('end_at'), root_path(:time => "end_at") %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr id="task_line">
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime('%Y-%m-%d') %></td>
        <% if task.end_at != nil%>
        <td><%= task.end_at.strftime('%Y-%m-%d') %></td>
        <% else %>
        <td><%= t('no_deadline') %></td>
        <% end %>
        <td><%= link_to t('edit_task'), edit_task_path(task) %></td>
        <td><%= button_to t('delete_task'), task_path(task), method: 'delete', form: { data: { turbo_confirm: t('are_your_sure_to_delete?') } } %></td>
      </tr>
    <% end %>
  </tbody>
</table>