<h1><%= t('Task Index') %></h1>
<%= link_to t('Add Task'), new_task_path %>
<table>
  <thead>
    <tr>
      <td><%= t('Task_Title') %></td>
      <td><%= t('Task_Content') %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.content %></td>
        <td><%= link_to t('edit_tast'), edit_task_path(task) %></td>
        <td><%= button_to t('delete_task'), task_path(task), method: 'delete', form: { data: { turbo_confirm: t('Are your sure to delete?') } } %></td>
      </tr>
    <% end %>
  </tbody>
</table>