<h1>Task Index</h1>
<%= link_to 'Add Task', new_task_path %>
<table>
  <thead>
    <tr>
      <td>Task_Title</td>
      <td>Task_Content</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.content %></td>
        <td><%= link_to 'edit', edit_task_path(task) %></td>
        <td><%= button_to 'delete', task_path(task), method: 'delete', form: { data: { turbo_confirm: 'Are your sure to delete?' } } %></td>
      </tr>
    <% end %>
  </tbody>
</table>