<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="w-[1200px] mx-auto">
      <nav class='bg-red-300 text-center py-5'>
        <h1 class="text-4xl">
          <%= link_to "TaskYourself", root_path, :class => "hover:text-white"%>
        </h1>
        <% if user_sign_in? %>
          <div class="pr-2">
            <span class="mr-2"><%= "#{current_user.name}" + " " + t('greeting') %></span>
            <span>
              <%= link_to t('sign_out'), 
                  session_path(current_user), 
                  data: { turbo_method: :delete, 
                          turbo_confirm: t('sure_to_sign_out?'), 
                        }, 
                  :class => "hover:bg-rose-100" 
              %>
            </span>
            <span>
              <%= link_to t('admin'), admin_users_path, :class => "hover:bg-rose-100" %>
            </span>
          </div>
        <% else %>
          <div class="pr-2">
            <span>
              <%= link_to t('sign_up'), sign_up_users_path, :class => "hover:bg-rose-100" %>
            </span>
            <span>
              <%= link_to t('sign_in'), sign_in_users_path, :class => "hover:bg-rose-100" %>
            </span>
            <span>
              <%= link_to t('admin'), admin_users_path, :class => "hover:bg-rose-100" %>
            </span>
          </div>
        <% end %>
      </nav>
      <div class="w-[1150px] mx-auto mt-5">
        <div class="my-2 text-center text-xl">
          <% if notice %>
            <div><%="＊＊" + notice + "＊＊"%></div>
          <% end %>
        </div>
        <div>
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <section class="w-[1200px] mx-auto">
      <div class="py-2 text-center bg-rose-200">
        <span>Copyright © 2022 Mike Lai. All rights reserved.</span>
      </div>
    </section>
  </footer>
</html>
